@import "carousel.scss";
@import "calender.scss";
@import "nav.scss";

$pink: (#EC418F);



body{
	padding-bottom: 200px;
}

a {
	text-decoration: none;
	color: white;
}

a:hover {
  color: $pink;
  text-decoration: none;
}

.wrapper{
	display: grid;
	grid-template-rows: 
	5px //top pink border 
	115px //navigation including logo
	45px //pink overlay box
	680px //hero image
	auto //welcome section
	750px //news
	735px //calender
	248px //pink twitter feed
	658px; //contact us info
    grid-template-columns: 1fr 20fr 1fr;
    grid-template-areas:
    	"top top top"
        ". header ."
        ". pinkHeader ."
        ". hero ."
        ". welcome ."
	    ". news ."
	    ". calender ."
	    ". pinkTwitter ."
    	". contact ."
    ;
}

.welcomeHeading{
	color: $pink;

}

.top{
	background-color: $pink;
	grid-area: top;
	z-index: 2;
}

.logo{
	background-color: white;
	grid-area: header; 
	right: -311px;
    position: relative;
}

.circle{
	background-color: $pink;
	grid-area: header;
	width: 200px;
	height: 200px;
	position: relative;
	top: -40px;
	left: 45px;
	border-radius: 50%;
	z-index: 0; 
	color: white;
	text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    // display: grid;
    // place-items: center; //aligns the logo

}

.logoText{
	top: 10px;
}

.pinkHeader{
	background-color: $pink;
	opacity: 0.5;
	grid-area: pinkHeader;
	z-index: 88;
	color: white;
	text-align: center;
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 45px;

}

.hero{
	background: no-repeat center/110% url("https://images.hellogiggles.com/uploads/2018/03/21041247/puppies.jpg");
	background-color: black;
	grid-area: hero;
    position: relative;
    top: -45px;
   	color: white;
	text-align: center;
    display: flex;
    justify-content: bottom;
    align-items: center;
    flex-direction: column;
}

.exploreText{
	color: white;
	position: relative;
	top: 559px;

}

.pinkTopText{
	position: relative;
	top: 10px;
	z-index: 89;
}

.heroMessage{
	color: white;
	position: relative;
	top: 576px;

}

.welcome{

	grid-area: welcome;
	padding-left: 160px;
	padding-top: 130px;
	padding-right: 20px;
	padding-bottom:130px;
	display: flex;
	
}

.textContainer{
}


.boxContainer{
	width: 50%;
	justify-content: space-evenly;	

}


.welcomeHeading{
	color: $pink;
    font-size: 57px;
    position: relative;
}


.boldText{
    width: 50%;
}

.unboldText{
	font-size: 1em;
}

.one{
	background-color: red;
	width: 284px;
	height: 122px;
	border-radius: 8px;
	margin: auto;
	order: 1;

}

.two{
	background-color: blue;
	width: 284px;
	height: 122px;
	border-radius: 8px;
	margin: auto;
	order: 2;
}

.three{
	background-color: green;
	width: 284px;
	height: 122px;
	border-radius: 8px;
	margin: auto;
	order: 3;
}

.news{
	background-color: #F37F2C;
	grid-area: news;
}

.newsTitle{
	color: white;
    font-size: 57px;
    position: relative;
    left: 150px;
}

.newsbox{
	background-color: white;
}

.posted{
	padding-top: 10px;
	padding-left: 10px;
	color: #b8b9b9;
	background-color: white;
}

.newsContent{
	color: black;
	padding-left: 10px;

}

.calender{
	grid-area: calender;
}

.calenderTitle{
color: #642d8c;
    font-size: 57px;
    position: relative;
    left: 150px;
	
}

h1.largeCalender{
	font-size: 67px;
	color: #642d8c;
	position: relative;
    float: left;
    left: 19px;
}

h3 {
	margin-top: 81px;
	position: relative;
    left: 20px;
}

time{
	color: #642d8c;
	position: relative;
	left: 32px;
}

.purpleCircle{
	height: 22px;
	width: 22px;
	border-radius: 50%;
	background-color: #642d8c;
}

.pinkTwitter{
	background-color: $pink;
	grid-area: pinkTwitter;

	color: white;

	display: grid;
	grid-template-rows: 1fr 1fr 1fr 1fr;
	grid-template-columns: 115px 74px 1fr 115px;
    grid-template-areas:
    	". . . . ."
    	". icon tweet tweet ."
    	". . follow controls .";

    margin-bottom: 15px;

    }

.follow{
	grid-area: follow;
	background-color: #f067a5;
	width: 135px;
	height: 35px;
    justify-content: center;
    align-items: center;
    border-radius: 18px;
    display: flex;
    margin-left: 60px;
}


.pinktwitterIcon{
	grid-area: icon;
}

.twitter_container{
	grid-area: tweet;
}

.twitter_controllers{
	grid-area: controls;
}

.contact{
	background-color: #4D4E4E;
	color: white;
	grid-area: contact;

	display: grid;
	grid-template-rows: 1fr 40fr 1fr;
	grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
    	". top ."
    	"contact links map"
    	"privacy privacy .";

}

.backToTop{
	grid-area: top;
	text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 12px;

}

.contactAside{
	grid-area: contact;
	padding-left: 155px;
}

.linksAside{
	grid-area: links;
	display: flex;
    align-items: center;
    flex-direction: column;
}

.mapAside{
	grid-area: map;
	padding-right: 155px;
}

.getDirections{
	background-color: #8b8c8c;
	width: 135px;
	height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 18px;
    margin-top: 28px;
}


.privacy{
	grid-area: privacy;
	padding-bottom: 55px;
	padding-left: 155px;
}


